.n-button {
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  height: 32px;
  line-height: 15px;
  background-color: #409eff;
  transition: border-color 0.25s;
  cursor: pointer;
}

.n-button:hover {
  background-color: #88b9f9;
}
