html.light,
html {
  color-scheme: light;
  --n-color-primary: #409eff;
  --n-color-primary-light-3: rgb(121, 187, 255);
  --n-color-primary-light-5: rgb(160, 207, 255);
  --n-color-primary-light-7: rgb(198, 226, 255);
  --n-color-primary-light-8: rgb(217, 236, 255);
  --n-color-primary-light-9: rgb(236, 245, 255);
  --n-color-primary-dark-2: rgb(51, 126, 204);
  --n-color-success: #67c23a;
  --n-color-success-light-3: rgb(149, 212, 117);
  --n-color-success-light-5: rgb(179, 225, 157);
  --n-color-success-light-7: rgb(209, 237, 196);
  --n-color-success-light-8: rgb(225, 243, 216);
  --n-color-success-light-9: rgb(240, 249, 235);
  --n-color-success-dark-2: rgb(82, 155, 46);
  --n-color-warning: #e6a23c;
  --n-color-warning-light-3: rgb(238, 190, 119);
  --n-color-warning-light-5: rgb(243, 209, 158);
  --n-color-warning-light-7: rgb(248, 227, 197);
  --n-color-warning-light-8: rgb(250, 236, 216);
  --n-color-warning-light-9: rgb(253, 246, 236);
  --n-color-warning-dark-2: rgb(184, 130, 48);
  --n-color-danger: #f56c6c;
  --n-color-danger-light-3: rgb(248, 152, 152);
  --n-color-danger-light-5: rgb(250, 182, 182);
  --n-color-danger-light-7: rgb(252, 211, 211);
  --n-color-danger-light-8: rgb(253, 226, 226);
  --n-color-danger-light-9: rgb(254, 240, 240);
  --n-color-danger-dark-2: rgb(196, 86, 86);
  --n-color-error: #f56c6c;
  --n-color-error-light-3: rgb(248, 152, 152);
  --n-color-error-light-5: rgb(250, 182, 182);
  --n-color-error-light-7: rgb(252, 211, 211);
  --n-color-error-light-8: rgb(253, 226, 226);
  --n-color-error-light-9: rgb(254, 240, 240);
  --n-color-error-dark-2: rgb(196, 86, 86);
  --n-color-info: #909399;
  --n-color-info-light-3: rgb(177, 179, 184);
  --n-color-info-light-5: rgb(200, 201, 204);
  --n-color-info-light-7: rgb(222, 223, 224);
  --n-color-info-light-8: rgb(233, 233, 235);
  --n-color-info-light-9: rgb(244, 244, 245);
  --n-color-info-dark-2: rgb(115, 118, 122);
  --n-bg-color: #ffffff;
  --n-bg-color-page: #f2f3f5;
  --n-bg-color-overlay: #ffffff;
  --n-text-color-primary: #303133;
  --n-text-color-regular: #606266;
  --n-text-color-secondary: #909399;
  --n-text-color-placeholder: #a8abb2;
  --n-text-color-disabled: #c0c4cc;
  --n-border-color: #dcdfe6;
  --n-border-color-light: #e4e7ed;
  --n-border-color-lighter: #ebeef5;
  --n-border-color-extra-light: #f2f6fc;
  --n-border-color-dark: #d4d7de;
  --n-border-color-darker: #cdd0d6;
  --n-fill-color: #f0f2f5;
  --n-fill-color-light: #f5f7fa;
  --n-fill-color-lighter: #fafafa;
  --n-fill-color-extra-light: #fafcff;
  --n-fill-color-dark: #ebedf0;
  --n-fill-color-darker: #e6e8eb;
  --n-fill-color-blank: #ffffff;
  --n-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --n-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --n-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --n-box-shadow-dark:
    0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --n-disabled-bg-color: var(--n-fill-color-light);
  --n-disabled-text-color: var(--n-text-color-placeholder);
  --n-disabled-border-color: var(--n-border-color-light);
  --n-overlay-color: rgba(0, 0, 0, 0.8);
  --n-overlay-color-light: rgba(0, 0, 0, 0.7);
  --n-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --n-mask-color: rgba(255, 255, 255, 0.9);
  --n-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --n-border-width: 1px;
  --n-border-style: solid;
  --n-border-color-hover: var(--n-text-color-disabled);
  --n-border: var(--n-border-width) var(--n-border-style) var(--n-border-color);
  --n-svg-monochrome-grey: var(--n-border-color);
}

html.dark {
  color-scheme: dark;
  --n-color-primary: #409eff;
  --n-color-primary-light-3: rgb(51, 117, 185);
  --n-color-primary-light-5: rgb(42, 89, 138);
  --n-color-primary-light-7: rgb(33, 61, 91);
  --n-color-primary-light-8: rgb(29, 48, 67);
  --n-color-primary-light-9: rgb(24, 34, 43);
  --n-color-primary-dark-2: rgb(102, 177, 255);
  --n-color-success: #67c23a;
  --n-color-success-light-3: rgb(78, 142, 47);
  --n-color-success-light-5: rgb(62, 107, 39);
  --n-color-success-light-7: rgb(45, 72, 31);
  --n-color-success-light-8: rgb(37, 55, 28);
  --n-color-success-light-9: rgb(28, 37, 24);
  --n-color-success-dark-2: rgb(133, 206, 97);
  --n-color-warning: #e6a23c;
  --n-color-warning-light-3: rgb(167, 119, 48);
  --n-color-warning-light-5: rgb(125, 91, 40);
  --n-color-warning-light-7: rgb(83, 63, 32);
  --n-color-warning-light-8: rgb(62, 48, 28);
  --n-color-warning-light-9: rgb(41, 34, 24);
  --n-color-warning-dark-2: rgb(235, 181, 99);
  --n-color-danger: #f56c6c;
  --n-color-danger-light-3: rgb(178, 82, 82);
  --n-color-danger-light-5: rgb(133, 64, 64);
  --n-color-danger-light-7: rgb(88, 46, 46);
  --n-color-danger-light-8: rgb(65, 38, 38);
  --n-color-danger-light-9: rgb(42, 29, 29);
  --n-color-danger-dark-2: rgb(247, 137, 137);
  --n-color-error: #f56c6c;
  --n-color-error-light-3: rgb(178, 82, 82);
  --n-color-error-light-5: rgb(133, 64, 64);
  --n-color-error-light-7: rgb(88, 46, 46);
  --n-color-error-light-8: rgb(65, 38, 38);
  --n-color-error-light-9: rgb(42, 29, 29);
  --n-color-error-dark-2: rgb(247, 137, 137);
  --n-color-info: #909399;
  --n-color-info-light-3: rgb(107, 109, 113);
  --n-color-info-light-5: rgb(82, 84, 87);
  --n-color-info-light-7: rgb(57, 58, 60);
  --n-color-info-light-8: rgb(45, 45, 47);
  --n-color-info-light-9: rgb(32, 33, 33);
  --n-color-info-dark-2: rgb(166, 169, 173);
  --n-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --n-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --n-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  --n-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
  --n-bg-color-page: #0a0a0a;
  --n-bg-color: #141414;
  --n-bg-color-overlay: #1d1e1f;
  --n-text-color-primary: #e5eaf3;
  --n-text-color-regular: #cfd3dc;
  --n-text-color-secondary: #a3a6ad;
  --n-text-color-placeholder: #8d9095;
  --n-text-color-disabled: #6c6e72;
  --n-border-color-darker: #636466;
  --n-border-color-dark: #58585b;
  --n-border-color: #4c4d4f;
  --n-border-color-light: #414243;
  --n-border-color-lighter: #363637;
  --n-border-color-extra-light: #2b2b2c;
  --n-fill-color-darker: #424243;
  --n-fill-color-dark: #39393a;
  --n-fill-color: #303030;
  --n-fill-color-light: #262727;
  --n-fill-color-lighter: #1d1d1d;
  --n-fill-color-extra-light: #191919;
  --n-fill-color-blank: transparent;
  --n-mask-color: rgba(0, 0, 0, 0.8);
  --n-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}
