.n-draft-input {
  --draft-input-border-color: #ffffff52;
  --draft-input-border-radius: 0;
  --draft-input-color: #fff;
  --draft-input-smile-icon-hover-color: rgb(180, 255, 180);

  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--draft-input-border-color);
  border-radius: var(--draft-input-border-radius);

  .actions {
    display: flex;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid var(--draft-input-border-color);
    padding: 0 5px;

    #__SMILE_ICON__ {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
    }

    .uploader {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .n-icon {
      &:hover {
        #smile_icon,
        #folder_icon {
          path {
            fill: var(--draft-input-smile-icon-hover-color);
          }
        }
      }
    }
  }

  .el-textarea-wrap {
    height: 100%;
    overflow-y: auto;

    .text-area {
      height: 100%;
      border: none;
      border-radius: 5px;
    }
  }

  .el-textarea__inner {
    box-shadow: none;
    height: 100% !important;
    min-height: auto !important;
    padding: 0 5px;
    border-radius: initial;
    background-color: transparent;
    box-sizing: border-box;
    color: var(--draft-input-color);

    &:focus {
      box-shadow: none;
    }
  }

  .text-area {
    padding: 2px 0 5px 0;
    box-sizing: border-box;
  }
}

// .el-popover.el-popper {
//   background-color: #ccc;
//   border: 1px solid #ccc;
// }

// .el-popper.is-light > .el-popper__arrow:before {
//   background: #ccc;
//   border: 1px solid #ccc;
// }
